 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

   /*nav .sidenav-trigger {
    float: left;
    position: absolute;
    z-index: 1;
    height: 56px;
    margin: -20 45px;
}*/